# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\_LambdaSchool\Unit 4\Sprint 2 - RDBMS and Intro to APIs\java-crudyorders\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
